.enfermedad {
    width: 100%;
    max-width: 100%;
    padding: 40px 50px;
    box-sizing: border-box;
}

.nombreEnfermedad {
    max-width: 700px;
    max-height: 100px;
    background-color: #1E2742;
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 500;
    margin: 0 auto;
    border-radius: 20px;
  }

.enfermedadRow {
    height: 100vh;
    padding-top: 95px;
    padding-bottom: 95px;
    width: calc(100vw - 100px);
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 70px;
}

.modeloPal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 620px;
    max-width: 800px;
}

.modeloSec{
    max-height: 850px;
    max-width: 600px;
}

.modeloSec, .enfermedadRow text {
    width: calc(50% - 25px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: left;
}

.text h2 {
    text-align: center;
    font-size: 40px;
    color: #0D1533;
    margin-bottom: 3rem;
}

.text p {
    text-align: justify;
    font-size: 1rem;
    color: #333;
    max-width: 600px;
    margin: 0 auto 1.3rem;
}

.text ul {
    margin-bottom: 2.5rem;
    list-style-type: disc;
    list-style-position: inside;
}

.text li {
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1rem;
    line-height: 1.5; 
}