.enfermedad {
    width: 100%;
    max-width: 100%;
    padding: 25px 50px;
    box-sizing: border-box;
}

.nombreEnfermedad {
    max-width: 700px;
    max-height: 100px;
    background-color: #1E2742;
    padding: 1rem;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 500;
    margin: 0 auto;
    border-radius: 20px;
  }

.enfermedadRow {
    min-height: 100vh;
    padding: 4.6rem 0;
    width: min(90%, 1600px);
    margin: 0 auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
}

.modeloPal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 620px;
    max-width: 800px;
}

.modeloSec {
    position: relative;
    max-width: 600px;
    max-height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 1rem;
}


.modeloSec, .enfermedadRow text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: left;
}

.text h2 {
    text-align: center;
    font-size: 40px;
    color: #0D1533;
    margin-bottom: 3rem;
}

.text p {
    text-align: justify;
    font-size: 1rem;
    color: #333;
    max-width: 600px;
    margin: 0 auto 1.3rem;
}

.text ul {
    margin-bottom: 2.5rem;
    list-style-type: disc;
    list-style-position: inside;
}

.text li {
    margin-bottom: 0.5rem;
    color: #333;
    font-size: 1rem;
    line-height: 1.5; 
}